@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.font-abhaya-libre {
    font-family: "Abhaya Libre", serif;
}

.font-montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    background-color: #350A51;
}

body {
    max-width: 1920px;
    margin: auto;
    color: white;
    position: relative;
    overflow-x: hidden;
}

body.lock-scroll {
    overflow: hidden;
    height: 100vh;
}

.container {
    width: 90%;
    margin-inline: auto;
}


/* navbar */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}


.navbar .logo {
    width: 60px;
    height: 61px;
}

@media screen and (min-width: 1025px) {

    .navbar .logo {
        width: 120px;
        height: 122px;
    }

    .navbar {
        width: 91%;
        margin: auto;
    }

}


.navbar a {
    color: white;
    text-decoration: none;
    font-size: 24px;
}

header {
    margin: 30px auto;
}

header .announcement {
    text-align: center;
    margin-bottom: 16px;
}

.center-menu {
    display: none;
}

header .announcement img {
    display: inline-block;
    width: 24px;
    height: 24px;
    transform: rotate(-45deg) translateY(10px);
}

.navbar .links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.navbar .links a {
    padding: 6px 18px;
    border-radius: 20px;
    color: #FFF6F6;
}

header .active {
    font-weight: 500;
    color: white;
    background: linear-gradient(65deg,
            #FF2DF7 0%,
            #5200FF 48%,
            #00F0FF 100%);
}

.navbar>a {
    display: none;
    font-size: 14px;
    font-weight: 500;
    padding: 6px 20px;
    border-radius: 20px;
    background: linear-gradient(-74deg,
            #00F0FF 0%,
            #5200FF 48%,
            #FF2DF7 100%);
    text-align: center;
}

.menu-button {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.menu-button:active {
    transform: scale(95%);
    transition: transform .05s linear;
}

.moblie-menu {
    background-color: #663586f6;
    max-width: 300px;
    width: 100%;
    height: 100%;
    padding: 20px;
    position: fixed;
    top: 0px;
    right: 0px;

    display: flex;
    flex-direction: column;
    gap: 10px;
    transform: translateX(100%);
    transition: transform .3s linear;
}

.moblie-menu a:first-of-type {
    margin-top: 50px;
}

.moblie-menu button {
    width: 35px;
    height: 35px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    border: none;
    border-radius: 100%;
    box-shadow: 0px 0px 2px gray;
    background-color: rgb(194, 34, 141);
    color: white;
}

.moblie-menu button:active {
    transform: scale(95%);
    transition: transform .05s linear;
}

.moblie-menu a {
    padding: 6px 18px;
    border-radius: 10px;
}


@media screen and (min-width: 770px) {

    .center-menu,
    .navbar>a {
        display: block;
    }

    .menu-button,
    header>p {
        display: none;
    }

}

/* hero section */

.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin: 40px 0;
}

@media screen and (min-width: 1600px) {

    .hero-section .left-row {
        margin-left: 100px;
    }
}

.hero-section .heading {
    font-size: 44px;
    font-weight: 800;
    background: linear-gradient(80deg, #00F0FF 0%, #5200FF 48%, #FF2DF7 100%);
    background-clip: text;
    color: transparent;
}

.hero-section .title {
    font-size: 44px;
    margin-left: -6px;
}

@media screen and (min-width: 1024px) {

    .hero-section {
        width: 91%;
        flex-direction: row;
        margin: 80px auto;
    }

    .hero-section .heading {
        font-size: 64px;
    }

    .hero-section .title {
        font-size: 64px;
    }
}

.hero-section .description {
    max-width: 50ch;
    font-size: 20px;
    margin-top: 10px;
}

.hero-section .devider {
    width: 100%;
    min-height: 1px;
}

.hero-section .left-row>img {
    display: block;
    margin-top: 16px;
    margin-bottom: 37px;
}

.hero-section .left-row button {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 11px 34px;
    border-radius: 24px;
    color: white;
    font-size: 19px;
    background: linear-gradient(to left, #350A51, #350A51) padding-box,
        linear-gradient(80deg, #00F0FF 0%, #5200FF 48%, #FF2DF7 100%) border-box;
    border: 1px solid transparent;
}

.hero-section .left-row button img {
    width: 18px;
    height: 18px;
    object-fit: cover;
}

.hero-section .right-row {
    max-width: 662px;
}

@media screen and (max-width: 1023px) {

    .hero-section .right-row {
        order: -1;
        width: 100%;
    }
}

.hero-section .right-row svg {
    width: 100%;
    height: 100%;
}

.hero-section .right-row img {
    width: 100%;
}

.hero-section .right-row .bg-effect {
    max-width: 936px;
    max-height: 892px;
    width: 100%;
    height: auto;
    object-fit: cover;
    position: absolute;
    top: 140px;
    right: 0px;
    z-index: -1;
}

@media screen and (min-width: 768px) {
    .hero-section .right-row .bg-effect {
        top: -60px;
    }
}